:root {

  --rgb1: rgba(2, 0, 36, 1) 0%;

  --rgb2: rgba(9, 9, 121, 1) 35%;

  --rgb3: rgba(0, 212, 255, 1) 100%;
}

.feedback-wrapper {
  align-items: center;
  background: linear-gradient(90deg, var(--rgb1), var(--rgb2), var(--rgb3));
  display: flex;
  height: 100vh;
  justify-content: center;
}

.result-box {
  align-items: center;
  background: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  opacity: 0.8;
  width: 400px;
}

.gravatar {
  border-radius: 100%;
  height: 70px;
  left: 80px;
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;
  width: 70px;
}

.end-game {
  color: white;
  font-size: 15px;
  left: 70px;
  margin-top: 20px;
  position: relative;
}

.text {
  color: white;
  display: block;
  font-size: 20px;
}

.feedback-text {
  color: white;
  font-size: 25px;
}

.results {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.end-buttons {
  background: rgb(18, 64, 214);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  top: 40px;
  width: 120px;
}

.end-buttons:hover {
  background: rgb(2, 17, 70);
  border: 1px white solid;
  color: white;
  cursor: pointer;
  font-size: 13px;
  height: 40px;
  width: 120px;
}
